@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
}

.container {
    background-color: #252525;
    margin: auto 0;
    padding: 0;
    height: 100%;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    background: linear-gradient(-45deg, #68ec25 0%, #94e9bb 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 60px;
}

.card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.card:hover svg {
    scale: 0;
    transform: rotate(-45deg);
}

h1 {
    font-family: Cinzel Decorative, sans-serif;
    margin: 25px;
    color: #b7f698;
}

.ways {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color:#252525;
    margin: 50%;
}

footer {
    width: auto 0;
    height: 50px;
    display: flex;
    align-items: center;
    color: #b7f698;
    font-family: Arial, Helvetica, sans-serif;
}